
#scenetitleAdmin {
    -fx-font: 40px Tahoma;
    -fx-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, yellow 0%, #006464 50%);
    -fx-stroke:  #006464;
    -fx-stroke-width: 4;
    -fx-stroke-dash-array: 12 2 4 2;

}

#welcome {
    -fx-font: 50px "Brush Script MT", cursive;
    -fx-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, blue 0%, green 50%);
    -fx-stroke: red;
    -fx-stroke-width: 1;
    -fx-rotate:-10;
}