#scenetitleAdmin {


    -fx-font: 70px Tahoma;
    -fx-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, yellow 0%, red 50%);
    -fx-stroke: green;
    -fx-stroke-width: 4;
    -fx-stroke-dash-array: 12 2 4 2;

}